* {
  /* border: 1px solid red; */
  font-family: Cinzel;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/84dc13b7-a2e7-4b45-83ec-311e72e82900/dd6hhpg-dac1f150-3337-491b-86ce-5c2b1d3acde0.jpg/v1/fill/w_1192,h_670,q_70,strp/yu_gi_oh__duel_monsters___duelist_kingdom_bg_by_maxiuchiha22_dd6hhpg-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcLzg0ZGMxM2I3LWEyZTctNGI0NS04M2VjLTMxMWU3MmU4MjkwMFwvZGQ2aGhwZy1kYWMxZjE1MC0zMzM3LTQ5MWItODZjZS01YzJiMWQzYWNkZTAuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.LBxq-XiG8WYdQQ6Sf4FpslFJyM1DP3htyTkmsoFHKQI");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

html {
  height: 100%;
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: rgb(68, 176, 184);
  margin-bottom: 5px;
}

.header {
  border-bottom: 1px solid #0b4724;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

#progress-bar {
  width: 200px;
  height: 8px;
  border: 2px solid black;
  display: flex;
}

.xp-counter {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-right: 5px;
}

.avatar-pic-name {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.avatar-container {
  display: flex;
}

.avatar-image-space {
  margin-right: 5px;
  margin-left: 5px;
}

#avatar-selector {
  margin-left: 5px;
}

.user-info-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.level-handler {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer {
  display: flex;
  margin-top: auto;
  margin-bottom: 20px;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  background-color: rgb(68, 176, 184);
  margin-bottom: 0;
  height: 40px;
  border-top: 1px solid green;
}

.small-pic {
  height: 65px;
  width: 65px;
}

.hidden {
  display: none;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5px;
}

.card-name-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  margin: 5px;
  text-align: center;
}

.score-counter {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  font-size: 20px;
}

.progress-bar-div {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.winner-loser {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

/* home menu */
.home {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/84dc13b7-a2e7-4b45-83ec-311e72e82900/dd6el10-55312aec-eebe-4099-b829-18c85f063ff2.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzg0ZGMxM2I3LWEyZTctNGI0NS04M2VjLTMxMWU3MmU4MjkwMFwvZGQ2ZWwxMC01NTMxMmFlYy1lZWJlLTQwOTktYjgyOS0xOGM4NWYwNjNmZjIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.vTE0nbbDK_leZhF6KSqt1WFGiY6x6HqZ488PuyaxKOs");
}

.welcome-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100%;
  justify-content: space-around;
}

.welcome-to-yugioh {
  font-weight: 900;
  color: red;
}

.start-here {
  font-size: 15px;
  color: white;
}

.start-btn {
  color: rgb(68, 176, 184);
  height: 50px;
  width: 300px;
  font-size: 40px;
  font-weight: bold;
  background-color: salmon;
}

.home-footer {
  display: flex;
  background-color: rgb(68, 176, 184);
  margin-bottom: 0;
  height: 40px;
  font-size: 10px;
  align-items: flex-end;
}

.my-name {
  display: flex;
  height: 100%;
  align-items: center;
}

.github {
  height: 50px;
  width: 50px;
  transition: all 0.2s ease-in-out;
}

.github:hover {
  transform: scale(1.1);
}

.linkin {
  height: 35px;
  width: 35px;
  transition: all 0.2s ease-in-out;
}

.linkin:hover {
  transform: scale(1.5);
}

@media only screen and (max-width: 520px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
